USE [master]
GO
/****** Object:  Database [BDEDD]    Script Date: 01/12/2025 05:00:36 a. m. ******/
CREATE DATABASE [BDEDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDEDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDEDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDEDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDEDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDEDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDEDD]
GO
/****** Object:  Table [dbo].[CONVOCATORIA]    Script Date: 01/12/2025 05:00:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONVOCATORIA](
	[ID_CONVOCATORIA] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
 CONSTRAINT [PK_CONVOCATORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CONVOCATORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 01/12/2025 05:00:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[ID_DOCENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO_PAT] [varchar](60) NULL,
	[APELLIDO_MAT] [varchar](60) NULL,
	[CAMPUS] [varchar](50) NULL,
	[VIGENCIA] [int] NULL,
	[CONTRA] [varchar](20) NULL,
	[CORREO] [varchar](50) NULL,
	[TELEFONO] [varchar](15) NULL,
 CONSTRAINT [PK_DOCENTE] PRIMARY KEY CLUSTERED 
(
	[ID_DOCENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCENTE_REQUISITOS]    Script Date: 01/12/2025 05:00:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE_REQUISITOS](
	[ID_DOCENTE] [int] NOT NULL,
	[ID_REQUISITO] [int] NOT NULL,
	[ID_CONVOCATORIA] [int] NOT NULL,
	[DOCUMENTO_RUTA] [varchar](300) NOT NULL,
 CONSTRAINT [PK_DOCENTE_REQUISITOS] PRIMARY KEY CLUSTERED 
(
	[ID_DOCENTE] ASC,
	[ID_REQUISITO] ASC,
	[ID_CONVOCATORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUISITO_CONVO]    Script Date: 01/12/2025 05:00:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUISITO_CONVO](
	[ID_REQUISITO] [int] NOT NULL,
	[ID_CONVOCATORIA] [int] NOT NULL,
 CONSTRAINT [PK_REQUISITO_CONVO] PRIMARY KEY CLUSTERED 
(
	[ID_REQUISITO] ASC,
	[ID_CONVOCATORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REQUISITOS_DE_INICIO]    Script Date: 01/12/2025 05:00:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REQUISITOS_DE_INICIO](
	[ID_REQUISITO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[DESCRIPCION] [varchar](300) NULL,
 CONSTRAINT [PK_REQUISITOS_DE_INICIO] PRIMARY KEY CLUSTERED 
(
	[ID_REQUISITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CONVOCATORIA] ([ID_CONVOCATORIA], [NOMBRE], [FECHA_INICIO], [FECHA_FIN]) VALUES (1, N'Convocatoria 2025', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date))
GO
SET IDENTITY_INSERT [dbo].[DOCENTE] ON 

INSERT [dbo].[DOCENTE] ([ID_DOCENTE], [NOMBRE], [APELLIDO_PAT], [APELLIDO_MAT], [CAMPUS], [VIGENCIA], [CONTRA], [CORREO], [TELEFONO]) VALUES (1, N'Carlos', N'Ramírez', N'González', N'Culiacán', 1, N'123', N'carlos.rg@itc.mx', N'6671234567')
INSERT [dbo].[DOCENTE] ([ID_DOCENTE], [NOMBRE], [APELLIDO_PAT], [APELLIDO_MAT], [CAMPUS], [VIGENCIA], [CONTRA], [CORREO], [TELEFONO]) VALUES (2, N'María', N'Lozano', N'Hernández', N'Culiacán', 1, N'123', N'maria.lh@itc.mx', N'6672345678')
INSERT [dbo].[DOCENTE] ([ID_DOCENTE], [NOMBRE], [APELLIDO_PAT], [APELLIDO_MAT], [CAMPUS], [VIGENCIA], [CONTRA], [CORREO], [TELEFONO]) VALUES (3, N'Jorge', N'Pérez', N'Cárdenas', N'Guamúchil', 1, N'123', N'jorge.pc@itc.mx', N'6673456789')
SET IDENTITY_INSERT [dbo].[DOCENTE] OFF
GO
INSERT [dbo].[DOCENTE_REQUISITOS] ([ID_DOCENTE], [ID_REQUISITO], [ID_CONVOCATORIA], [DOCUMENTO_RUTA]) VALUES (1, 1, 1, N'C:\Ruta\Simulada\Docente1\req_1.pdf')
INSERT [dbo].[DOCENTE_REQUISITOS] ([ID_DOCENTE], [ID_REQUISITO], [ID_CONVOCATORIA], [DOCUMENTO_RUTA]) VALUES (1, 2, 1, N'C:\Ruta\Simulada\Docente1\req_2.pdf')
INSERT [dbo].[DOCENTE_REQUISITOS] ([ID_DOCENTE], [ID_REQUISITO], [ID_CONVOCATORIA], [DOCUMENTO_RUTA]) VALUES (1, 3, 1, N'C:\Ruta\Simulada\Docente1\req_3.pdf')
GO
INSERT [dbo].[REQUISITO_CONVO] ([ID_REQUISITO], [ID_CONVOCATORIA]) VALUES (1, 1)
INSERT [dbo].[REQUISITO_CONVO] ([ID_REQUISITO], [ID_CONVOCATORIA]) VALUES (2, 1)
INSERT [dbo].[REQUISITO_CONVO] ([ID_REQUISITO], [ID_CONVOCATORIA]) VALUES (3, 1)
GO
INSERT [dbo].[REQUISITOS_DE_INICIO] ([ID_REQUISITO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Constancia de Recursos Humanos', N'Nombramiento de tiempo completo (estatus 10 o 95) y 90% de asistencia.')
INSERT [dbo].[REQUISITOS_DE_INICIO] ([ID_REQUISITO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Talón de pago', N'Talón de la quincena 07 del 2025 sin percepción DT o I8.')
INSERT [dbo].[REQUISITOS_DE_INICIO] ([ID_REQUISITO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Horarios de labores', N'Horarios del periodo 2024 y primer semestre 2025 con carga académica reglamentaria.')
GO
ALTER TABLE [dbo].[DOCENTE] ADD  CONSTRAINT [DF_DOCENTE_VIGENTE]  DEFAULT ((1)) FOR [VIGENCIA]
GO
ALTER TABLE [dbo].[DOCENTE_REQUISITOS]  WITH CHECK ADD  CONSTRAINT [FK_DOCR_CONVOCATORIA] FOREIGN KEY([ID_CONVOCATORIA])
REFERENCES [dbo].[CONVOCATORIA] ([ID_CONVOCATORIA])
GO
ALTER TABLE [dbo].[DOCENTE_REQUISITOS] CHECK CONSTRAINT [FK_DOCR_CONVOCATORIA]
GO
ALTER TABLE [dbo].[DOCENTE_REQUISITOS]  WITH CHECK ADD  CONSTRAINT [FK_DOCR_DOCENTE] FOREIGN KEY([ID_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([ID_DOCENTE])
GO
ALTER TABLE [dbo].[DOCENTE_REQUISITOS] CHECK CONSTRAINT [FK_DOCR_DOCENTE]
GO
ALTER TABLE [dbo].[DOCENTE_REQUISITOS]  WITH CHECK ADD  CONSTRAINT [FK_DOCR_REQUISITO] FOREIGN KEY([ID_REQUISITO])
REFERENCES [dbo].[REQUISITOS_DE_INICIO] ([ID_REQUISITO])
GO
ALTER TABLE [dbo].[DOCENTE_REQUISITOS] CHECK CONSTRAINT [FK_DOCR_REQUISITO]
GO
ALTER TABLE [dbo].[REQUISITO_CONVO]  WITH CHECK ADD  CONSTRAINT [FK_REQUISITOCONVO_CONVOCATORIA] FOREIGN KEY([ID_CONVOCATORIA])
REFERENCES [dbo].[CONVOCATORIA] ([ID_CONVOCATORIA])
GO
ALTER TABLE [dbo].[REQUISITO_CONVO] CHECK CONSTRAINT [FK_REQUISITOCONVO_CONVOCATORIA]
GO
ALTER TABLE [dbo].[REQUISITO_CONVO]  WITH CHECK ADD  CONSTRAINT [FK_REQUISITOCONVO_REQUISITO] FOREIGN KEY([ID_REQUISITO])
REFERENCES [dbo].[REQUISITOS_DE_INICIO] ([ID_REQUISITO])
GO
ALTER TABLE [dbo].[REQUISITO_CONVO] CHECK CONSTRAINT [FK_REQUISITOCONVO_REQUISITO]
GO
ALTER TABLE [dbo].[DOCENTE]  WITH CHECK ADD  CONSTRAINT [CHK_DOCENTE_VIGENTE] CHECK  (([VIGENCIA]=(1) OR [VIGENCIA]=(0)))
GO
ALTER TABLE [dbo].[DOCENTE] CHECK CONSTRAINT [CHK_DOCENTE_VIGENTE]
GO
USE [master]
GO
