USE [master]
GO
/****** Object:  Database [BDTEC]    Script Date: 01/12/2025 05:02:10 a. m. ******/
CREATE DATABASE [BDTEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDTEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDTEC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDTEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDTEC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDTEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDTEC]
GO
/****** Object:  Table [dbo].[PLAZA]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAZA](
	[ID_PLAZA] [int] NOT NULL,
	[HORARIO] [varchar](50) NULL,
 CONSTRAINT [PK_PLAZA] PRIMARY KEY CLUSTERED 
(
	[ID_PLAZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[JEFE_ID] [int] NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_PLAZA] [int] NOT NULL,
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO_MAT] [varchar](60) NULL,
	[APELLIDO_PAT] [varchar](60) NULL,
	[CAMPUS] [varchar](50) NULL,
	[VIGENCIA] [int] NULL,
	[CORREO] [varchar](50) NULL,
	[TELEFONO] [varchar](15) NULL,
 CONSTRAINT [PK_DOCENTE] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_EMPLEADOS_COMPLETA]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_EMPLEADOS_COMPLETA] AS
SELECT 
    e.ID_EMPLEADO,
    e.NOMBRE AS NOMBRE_EMPLEADO,
    e.CORREO AS CORREO_EMPLEADO,
    e.TELEFONO,
    e.CAMPUS,
    p.HORARIO AS HORARIO_PLAZA,
    d.nombre as NOMBRE_DEPARTAMENTO
FROM EMPLEADO e
JOIN PLAZA p ON e.ID_PLAZA = p.ID_PLAZA
JOIN DEPARTAMENTO d ON e.ID_DEPARTAMENTO = d.ID_DEPARTAMENTO;
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[ID_DOCUMENTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DATOS_JSON] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ACTIVIDAD] PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOSXDOCUMENTO]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOSXDOCUMENTO](
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_DOCUMENTO] [int] NOT NULL,
	[DATOS_JSON] [nvarchar](max) NULL,
 CONSTRAINT [PK_EMPLEADOSXACTIVIDADES] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC,
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JEFE]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JEFE](
	[JEFE_ID] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[VIGENTE] [int] NULL,
	[CONTRA] [varchar](50) NULL,
	[CORREO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JEFE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table2]    Script Date: 01/12/2025 05:02:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table2](
	[TableId] [int] NULL,
	[TableDesc] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [NOMBRE], [JEFE_ID]) VALUES (1, N'Sistemas y Computación', 1)
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [NOMBRE], [JEFE_ID]) VALUES (2, N'Ciencias Básicas', 2)
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [NOMBRE], [JEFE_ID]) VALUES (3, N'Ingeniería Industrial', 2)
GO
SET IDENTITY_INSERT [dbo].[DOCUMENTO] ON 

INSERT [dbo].[DOCUMENTO] ([ID_DOCUMENTO], [NOMBRE], [DATOS_JSON]) VALUES (1, N'Copia Examen de Grado', N'{
  "NOMBRE_EGRESADO": "Ricardo Mendoza Torres",
  "NOMBRE_MAESTRIA": "Maestría en Ingeniería en Sistemas Computacionales",
  "NOMBRE_INSTITUTO": "Instituto Tecnológico de Culiacán",
  "CIUDAD_ESTADO": "Culiacán, Sinaloa",
  "DIA": "26",
  "MES": "Noviembre",
  "ANIO": "2025",
  "TITULO_TESIS": "Optimización de Procesos Académicos mediante Sistemas Inteligentes"
}')
INSERT [dbo].[DOCUMENTO] ([ID_DOCUMENTO], [NOMBRE], [DATOS_JSON]) VALUES (2, N'Oficio de Autorización de Apertura', N'{
  "NUMERO_OFICIO_AUTORIZACION": "OFI-TEC-2025-432",
  "LUGAR_FECHA_EMISION": "Culiacán, Sinaloa; 26 de Noviembre de 2025",
  "PERSONA_TITULAR_INSTITUTO": "Mtra. Laura Gabriela Rodríguez Salinas",
  "NOMBRE_INSTITUTO": "Instituto Tecnológico de Culiacán",
  "NIVEL": "Superior",
  "NOMBRE_PROGRAMA_ESTUDIO": "Ingeniería en Sistemas Computacionales",
  "CLAVE_TECNM": "24ISC001",
  "PERIODO": "Agosto - Diciembre 2025"
}')
INSERT [dbo].[DOCUMENTO] ([ID_DOCUMENTO], [NOMBRE], [DATOS_JSON]) VALUES (3, N'Constancia con Nombres de Participantes', N'{}')
SET IDENTITY_INSERT [dbo].[DOCUMENTO] OFF
GO
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_PLAZA], [ID_DEPARTAMENTO], [NOMBRE], [APELLIDO_MAT], [APELLIDO_PAT], [CAMPUS], [VIGENCIA], [CORREO], [TELEFONO]) VALUES (1, 1, 1, N'Carlos', N'Ramírez', N'González', N'Culiacán', 1, N'carlos.rg@itc.mx', N'6671234567')
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_PLAZA], [ID_DEPARTAMENTO], [NOMBRE], [APELLIDO_MAT], [APELLIDO_PAT], [CAMPUS], [VIGENCIA], [CORREO], [TELEFONO]) VALUES (2, 2, 2, N'María', N'Lozano', N'Hernández', N'Culiacán', 1, N'maria.lh@itc.mx', N'6672345678')
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [ID_PLAZA], [ID_DEPARTAMENTO], [NOMBRE], [APELLIDO_MAT], [APELLIDO_PAT], [CAMPUS], [VIGENCIA], [CORREO], [TELEFONO]) VALUES (3, 1, 3, N'Jorge', N'Pérez', N'Cárdenas', N'Guamúchil', 1, N'jorge.pc@itc.mx', N'6673456789')
GO
INSERT [dbo].[JEFE] ([JEFE_ID], [NOMBRE], [VIGENTE], [CONTRA], [CORREO]) VALUES (1, N'Ing. María González Pérez', 1, N'123', N'maria.gp@itc.mx')
INSERT [dbo].[JEFE] ([JEFE_ID], [NOMBRE], [VIGENTE], [CONTRA], [CORREO]) VALUES (2, N'Dr. Juan Carlos Rodríguez', 1, N'123', N'juan.cr@itc.mx')
GO
INSERT [dbo].[PLAZA] ([ID_PLAZA], [HORARIO]) VALUES (1, N'Tiempo Completo')
INSERT [dbo].[PLAZA] ([ID_PLAZA], [HORARIO]) VALUES (2, N'Medio Tiempo')
GO
ALTER TABLE [dbo].[EMPLEADO] ADD  CONSTRAINT [DF_DOCENTE_VIGENTE]  DEFAULT ((1)) FOR [VIGENCIA]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH NOCHECK ADD  CONSTRAINT [FK_EMPLEADO_DEPARTAMENTO] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH NOCHECK ADD  CONSTRAINT [FK_EMPLEADO_PLAZA] FOREIGN KEY([ID_PLAZA])
REFERENCES [dbo].[PLAZA] ([ID_PLAZA])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_PLAZA]
GO
ALTER TABLE [dbo].[EMPLEADOSXDOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOSXACTIVIDADES_ACTIVIDAD] FOREIGN KEY([ID_DOCUMENTO])
REFERENCES [dbo].[DOCUMENTO] ([ID_DOCUMENTO])
GO
ALTER TABLE [dbo].[EMPLEADOSXDOCUMENTO] CHECK CONSTRAINT [FK_EMPLEADOSXACTIVIDADES_ACTIVIDAD]
GO
ALTER TABLE [dbo].[EMPLEADOSXDOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADOSXACTIVIDADES_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[EMPLEADOSXDOCUMENTO] CHECK CONSTRAINT [FK_EMPLEADOSXACTIVIDADES_EMPLEADO]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [CK_DOC_ACT_JSON] CHECK  ((isjson([DATOS_JSON])=(1)))
GO
ALTER TABLE [dbo].[DOCUMENTO] CHECK CONSTRAINT [CK_DOC_ACT_JSON]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH NOCHECK ADD  CONSTRAINT [CHK_CORREO] CHECK  (([CORREO] like '%@%'))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CHK_CORREO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH NOCHECK ADD  CONSTRAINT [CHK_DOCENTE_VIGENTE] CHECK  (([VIGENCIA]=(1) OR [VIGENCIA]=(0)))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CHK_DOCENTE_VIGENTE]
GO
ALTER TABLE [dbo].[EMPLEADOSXDOCUMENTO]  WITH CHECK ADD  CONSTRAINT [CK_DOC_ACT_JSO] CHECK  ((isjson([DATOS_JSON])=(1)))
GO
ALTER TABLE [dbo].[EMPLEADOSXDOCUMENTO] CHECK CONSTRAINT [CK_DOC_ACT_JSO]
GO
USE [master]
GO
