USE [master]
GO
/****** Object:  Database [eddo]    Script Date: 01/12/2025 05:03:11 a. m. ******/
CREATE DATABASE [eddo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eddo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eddo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'eddo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\eddo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eddo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eddo]
GO
/****** Object:  Table [dbo].[COMENTARIOS]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIOS](
	[ID_COMENTARIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_RECLAMO] [int] NOT NULL,
	[REMITENTE] [varchar](10) NULL,
	[FECHA] [datetime] NULL,
	[DESCRIPCION] [varchar](255) NULL,
 CONSTRAINT [PK_COMENTARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_COMENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[ID_DEPARTAMENTO] [int] NOT NULL,
	[JEFE_ID] [int] NULL,
	[NOMBRE] [varchar](50) NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[ID_DEPARTAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCENTE]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCENTE](
	[ID_DOCENTE] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO_MAT] [varchar](60) NULL,
	[APELLIDO_PAT] [varchar](60) NULL,
	[CAMPUS] [varchar](50) NULL,
	[CONTRA] [varchar](20) NULL,
	[CORREO] [varchar](50) NULL,
	[TELEFONO] [varchar](15) NULL,
 CONSTRAINT [PK_DOCENTE] PRIMARY KEY CLUSTERED 
(
	[ID_DOCENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[FOLIO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPARTAMENTO] [int] NULL,
	[NOMBRE] [varchar](100) NULL,
	[FECHA] [date] NULL,
 CONSTRAINT [PK_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[FOLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO_EXPEDIENTE]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO_EXPEDIENTE](
	[ID_DOCUMENTO] [int] NOT NULL,
	[ID_EXPEDIENTE] [int] NOT NULL,
 CONSTRAINT [PK_DOCUMENTO_EXPEDIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC,
	[ID_EXPEDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPEDIENTE]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPEDIENTE](
	[ID_EXPEDIENTE] [int] IDENTITY(1,1) NOT NULL,
	[ID_DOCENTE] [int] NULL,
	[ID_CONVOC] [int] NULL,
 CONSTRAINT [PK_EXPEDIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_EXPEDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JEFE]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JEFE](
	[JEFE_ID] [int] NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[VIGENTE] [bit] NULL,
	[CONTRA] [varchar](20) NULL,
	[CORREO] [varchar](50) NULL,
 CONSTRAINT [PK_JEFE] PRIMARY KEY CLUSTERED 
(
	[JEFE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECLAMO]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECLAMO](
	[ID_RECLAMO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DOCUMENTO] [int] NULL,
	[FECHA] [date] NULL,
 CONSTRAINT [PK_RECLAMO] PRIMARY KEY CLUSTERED 
(
	[ID_RECLAMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table2]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table2](
	[TableId] [int] NULL,
	[TableDesc] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COMENTARIOS] ON 

INSERT [dbo].[COMENTARIOS] ([ID_COMENTARIO], [ID_RECLAMO], [REMITENTE], [FECHA], [DESCRIPCION]) VALUES (1, 1, N'DOCENTE', CAST(N'2025-11-26T23:01:38.240' AS DateTime), N'tengo un pedote')
INSERT [dbo].[COMENTARIOS] ([ID_COMENTARIO], [ID_RECLAMO], [REMITENTE], [FECHA], [DESCRIPCION]) VALUES (2, 2, N'DOCENTE', CAST(N'2025-11-26T23:02:19.033' AS DateTime), N'tengo otro pedo')
INSERT [dbo].[COMENTARIOS] ([ID_COMENTARIO], [ID_RECLAMO], [REMITENTE], [FECHA], [DESCRIPCION]) VALUES (3, 3, N'DOCENTE', CAST(N'2025-11-27T09:08:12.380' AS DateTime), N'hey que rollo revisenme')
SET IDENTITY_INSERT [dbo].[COMENTARIOS] OFF
GO
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [JEFE_ID], [NOMBRE]) VALUES (1, 1, N'Sistemas y Computación')
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [JEFE_ID], [NOMBRE]) VALUES (2, 2, N'Ciencias Básicas')
INSERT [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO], [JEFE_ID], [NOMBRE]) VALUES (3, 2, N'Ingeniería Industrial')
GO
INSERT [dbo].[DOCENTE] ([ID_DOCENTE], [NOMBRE], [APELLIDO_MAT], [APELLIDO_PAT], [CAMPUS], [CONTRA], [CORREO], [TELEFONO]) VALUES (1, N'Carlos', N'Ramírez', N'González', N'Culiacán', N'123', N'carlos.rg@itc.mx', N'6671234567')
INSERT [dbo].[DOCENTE] ([ID_DOCENTE], [NOMBRE], [APELLIDO_MAT], [APELLIDO_PAT], [CAMPUS], [CONTRA], [CORREO], [TELEFONO]) VALUES (2, N'María', N'Lozano', N'Hernández', N'Culiacán', N'123', N'maria.lh@itc.mx', N'6672345678')
INSERT [dbo].[DOCENTE] ([ID_DOCENTE], [NOMBRE], [APELLIDO_MAT], [APELLIDO_PAT], [CAMPUS], [CONTRA], [CORREO], [TELEFONO]) VALUES (3, N'Jorge', N'Pérez', N'Cárdenas', N'Guamúchil', N'123', N'jorge.pc@itc.mx', N'6673456789')
GO
SET IDENTITY_INSERT [dbo].[DOCUMENTO] ON 

INSERT [dbo].[DOCUMENTO] ([FOLIO], [ID_DEPARTAMENTO], [NOMBRE], [FECHA]) VALUES (1, NULL, N'Copia Examen de Grado', NULL)
INSERT [dbo].[DOCUMENTO] ([FOLIO], [ID_DEPARTAMENTO], [NOMBRE], [FECHA]) VALUES (2, NULL, N'Oficio de Autorización de Apertura', NULL)
INSERT [dbo].[DOCUMENTO] ([FOLIO], [ID_DEPARTAMENTO], [NOMBRE], [FECHA]) VALUES (3, NULL, N'Constancia con Nombres de Participantes', NULL)
SET IDENTITY_INSERT [dbo].[DOCUMENTO] OFF
GO
INSERT [dbo].[DOCUMENTO_EXPEDIENTE] ([ID_DOCUMENTO], [ID_EXPEDIENTE]) VALUES (1, 1)
INSERT [dbo].[DOCUMENTO_EXPEDIENTE] ([ID_DOCUMENTO], [ID_EXPEDIENTE]) VALUES (2, 1)
INSERT [dbo].[DOCUMENTO_EXPEDIENTE] ([ID_DOCUMENTO], [ID_EXPEDIENTE]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[EXPEDIENTE] ON 

INSERT [dbo].[EXPEDIENTE] ([ID_EXPEDIENTE], [ID_DOCENTE], [ID_CONVOC]) VALUES (1, 5, NULL)
INSERT [dbo].[EXPEDIENTE] ([ID_EXPEDIENTE], [ID_DOCENTE], [ID_CONVOC]) VALUES (2, 2, NULL)
INSERT [dbo].[EXPEDIENTE] ([ID_EXPEDIENTE], [ID_DOCENTE], [ID_CONVOC]) VALUES (3, 1, NULL)
SET IDENTITY_INSERT [dbo].[EXPEDIENTE] OFF
GO
INSERT [dbo].[JEFE] ([JEFE_ID], [NOMBRE], [VIGENTE], [CONTRA], [CORREO]) VALUES (1, N'Ing. María González Pérez', 1, N'123', N'maria.gp@itc.mx')
INSERT [dbo].[JEFE] ([JEFE_ID], [NOMBRE], [VIGENTE], [CONTRA], [CORREO]) VALUES (2, N'Dr. Juan Carlos Rodríguez', 1, N'123', N'juan.cr@itc.mx')
GO
SET IDENTITY_INSERT [dbo].[RECLAMO] ON 

INSERT [dbo].[RECLAMO] ([ID_RECLAMO], [ID_DOCUMENTO], [FECHA]) VALUES (1, 1, CAST(N'2025-11-26' AS Date))
INSERT [dbo].[RECLAMO] ([ID_RECLAMO], [ID_DOCUMENTO], [FECHA]) VALUES (2, 2, CAST(N'2025-11-26' AS Date))
INSERT [dbo].[RECLAMO] ([ID_RECLAMO], [ID_DOCUMENTO], [FECHA]) VALUES (3, 21, CAST(N'2025-11-27' AS Date))
SET IDENTITY_INSERT [dbo].[RECLAMO] OFF
GO
ALTER TABLE [dbo].[JEFE] ADD  CONSTRAINT [DF_JEFE_VIGENTE]  DEFAULT ((1)) FOR [VIGENTE]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTARIOS_RECLAMO] FOREIGN KEY([ID_RECLAMO])
REFERENCES [dbo].[RECLAMO] ([ID_RECLAMO])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_COMENTARIOS_RECLAMO]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DEP_JEFE_ID] FOREIGN KEY([JEFE_ID])
REFERENCES [dbo].[JEFE] ([JEFE_ID])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_DEP_JEFE_ID]
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH NOCHECK ADD  CONSTRAINT [FK_DOCUMENTO_DEP] FOREIGN KEY([ID_DEPARTAMENTO])
REFERENCES [dbo].[DEPARTAMENTO] ([ID_DEPARTAMENTO])
GO
ALTER TABLE [dbo].[DOCUMENTO] NOCHECK CONSTRAINT [FK_DOCUMENTO_DEP]
GO
ALTER TABLE [dbo].[DOCUMENTO_EXPEDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DOC_EXP_DOCUMENTO] FOREIGN KEY([ID_DOCUMENTO])
REFERENCES [dbo].[DOCUMENTO] ([FOLIO])
GO
ALTER TABLE [dbo].[DOCUMENTO_EXPEDIENTE] CHECK CONSTRAINT [FK_DOC_EXP_DOCUMENTO]
GO
ALTER TABLE [dbo].[DOCUMENTO_EXPEDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_DOC_EXP_EXPEDIENTE] FOREIGN KEY([ID_EXPEDIENTE])
REFERENCES [dbo].[EXPEDIENTE] ([ID_EXPEDIENTE])
GO
ALTER TABLE [dbo].[DOCUMENTO_EXPEDIENTE] CHECK CONSTRAINT [FK_DOC_EXP_EXPEDIENTE]
GO
ALTER TABLE [dbo].[EXPEDIENTE]  WITH NOCHECK ADD  CONSTRAINT [FK_EXPEDIENTE_DOCENTE] FOREIGN KEY([ID_DOCENTE])
REFERENCES [dbo].[DOCENTE] ([ID_DOCENTE])
GO
ALTER TABLE [dbo].[EXPEDIENTE] NOCHECK CONSTRAINT [FK_EXPEDIENTE_DOCENTE]
GO
ALTER TABLE [dbo].[RECLAMO]  WITH CHECK ADD  CONSTRAINT [FK_RECLAMO_DOCUMENTO] FOREIGN KEY([ID_DOCUMENTO])
REFERENCES [dbo].[DOCUMENTO] ([FOLIO])
GO
ALTER TABLE [dbo].[RECLAMO] CHECK CONSTRAINT [FK_RECLAMO_DOCUMENTO]
GO
ALTER TABLE [dbo].[JEFE]  WITH CHECK ADD  CONSTRAINT [CHK_JEFE_VIGENTE] CHECK  (([VIGENTE]=(1) OR [VIGENTE]=(0)))
GO
ALTER TABLE [dbo].[JEFE] CHECK CONSTRAINT [CHK_JEFE_VIGENTE]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarContrasenaDocente]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarContrasenaDocente]
        @IdDocente INT,
        @NuevaContrasena VARCHAR(100)
AS
BEGIN
        SET NOCOUNT ON;

        IF @IdDocente IS NULL
        BEGIN
                RAISERROR('El Id del docente no puede ser nulo.',16,1)
                RETURN
        END

        IF @NuevaContrasena IS NULL OR LTRIM(RTRIM(@NuevaContrasena)) = ''
        BEGIN
                RAISERROR('La nueva contraseña no puede ser nula o vacía.',16,1)
                RETURN
        END

        UPDATE DOCENTE
        SET CONTRA = @NuevaContrasena
        WHERE ID_DOCENTE = @IdDocente

        IF @@ROWCOUNT = 0
        BEGIN
                RAISERROR('IdDocente no encontrado.',16,1)
        END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarContrasenaDocente]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CambiarContrasenaDocente]
        @Correo VARCHAR(100),
        @NuevaContrasena VARCHAR(100)
AS
BEGIN
        SET NOCOUNT ON;

        IF @NuevaContrasena IS NULL OR LTRIM(RTRIM(@NuevaContrasena)) = ''
        BEGIN
                RAISERROR('La nueva contraseña no puede ser nula o vacía.',16,1)
                RETURN
        END

        UPDATE DOCENTE
        SET CONTRA = @NuevaContrasena
        WHERE CORREO = @Correo

        IF @@ROWCOUNT = 0
        BEGIN
                RAISERROR('Correo no encontrado.',16,1)
        END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LLENAR_DATOS_DOCUMENTO_DOCENTE]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_LLENAR_DATOS_DOCUMENTO_DOCENTE]
        @CORREO VARCHAR(50),
        @NOMBRE VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ID_DOCUMENTO INT;
    DECLARE @ID_DOCENTE INT;
    DECLARE @ID_EXPEDIENTE INT;


    SELECT @ID_DOCENTE = ID_DOCENTE FROM
        DOCENTE WHERE CORREO = @CORREO

    select @ID_DOCUMENTO = FOLIO FROM
        DOCUMENTO WHERE NOMBRE = @NOMBRE

        IF EXISTS (SELECT 1 FROM EXPEDIENTE WHERE ID_DOCENTE = @ID_DOCENTE)
        BEGIN
                SELECT @ID_EXPEDIENTE = ID_EXPEDIENTE FROM
                EXPEDIENTE WHERE ID_DOCENTE = @ID_DOCENTE
        END
        ELSE
        BEGIN
                INSERT INTO EXPEDIENTE(ID_DOCENTE,ID_CONVOC)
                VALUES (@ID_DOCENTE, NULL);
                SELECT @ID_EXPEDIENTE = SCOPE_IDENTITY();
        END
    -- Validación de nulos
    IF  @ID_DOCENTE IS NULL OR @NOMBRE IS NULL
    BEGIN
        RAISERROR('No se permiten datos nulos', 16, 1);
        RETURN;
    END


        INSERT INTO DOCUMENTO_EXPEDIENTE(ID_DOCUMENTO,ID_EXPEDIENTE)
        VALUES (@ID_DOCUMENTO, @ID_EXPEDIENTE);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTRAR_DOCENTE]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_REGISTRAR_DOCENTE]
        @ID_DOCENTE INT,
    @NOMBRE VARCHAR(100),
    @APELLIDO_PAT VARCHAR(60),
    @APELLIDO_MAT VARCHAR(60),
    @CAMPUS VARCHAR(50),
    @CORREO VARCHAR(50),
    @TELEFONO VARCHAR(15),
    @CONTRA VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validación de nulos
    IF  @ID_DOCENTE IS NULL OR @NOMBRE IS NULL OR @APELLIDO_PAT IS NULL OR @APELLIDO_MAT IS NULL
       OR @CAMPUS IS NULL OR @CORREO IS NULL OR @TELEFONO IS NULL OR @CONTRA IS NULL
    BEGIN
        RAISERROR('No se permiten datos nulos', 16, 1);
        RETURN;
    END

    -- Validación de correo repetido
    IF EXISTS (SELECT 1 FROM DOCENTE WHERE CORREO = @CORREO)
    BEGIN
        RAISERROR('El correo ya está registrado', 16, 1);
        RETURN;
    END

    -- Inserción correcta SIN ID_DOCENTE
    INSERT INTO DOCENTE (ID_DOCENTE,NOMBRE, APELLIDO_PAT, APELLIDO_MAT, CAMPUS, CONTRA, CORREO, TELEFONO)
    VALUES (@ID_DOCENTE,@NOMBRE, @APELLIDO_PAT, @APELLIDO_MAT, @CAMPUS, @CONTRA, @CORREO, @TELEFONO);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarLoginDocente]    Script Date: 01/12/2025 05:03:12 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VerificarLoginDocente]
    @Correo VARCHAR(100),
    @Contrasena VARCHAR(100),
    @IdDocente INT OUTPUT
AS
BEGIN
        SET NOCOUNT ON;

        SELECT @IdDocente = ID_DOCENTE
        FROM DOCENTE
        WHERE CORREO = @Correo
            AND CONTRA = @Contrasena;
        
        IF @IdDocente IS NULL
        BEGIN
                SELECT @IdDocente = JEFE_ID
                FROM JEFE
                WHERE CORREO = @Correo AND CONTRA = @Contrasena;
        END


        IF @IdDocente IS NULL
        BEGIN
                RAISERROR('Credenciales invalidas',16,1)
        END
END
GO
USE [master]
GO
